.header {
    background: #CF32C1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 22px 34px;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(48, 29, 45, 0.3);
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgb(255, 255, 255,.3), transparent);
    transition: .5s;
}
.header:hover::before {
    left: 100%;
}

.logo {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav_div {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link {
    color: #6e95e6;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;

    &:hover {
        color: #0737b1;
    }
}

.active {
    color: #0737b1;
}


.cart  {
        position: relative;

        svg {
            color: #fff;
            font-size: 36px;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
                color: #e0c9ed;
            }
        }

        p {
            position: absolute;
            top: -25px;
            right: -30px;
            font-weight: bold;
            border-radius: 100%;
            padding: 4px 6px;

        }
}



.non_empty {
    background-color: #fff;
    color: teal;
    border: 1px solid teal;
}

.empty {
    background-color: #fff;
    color: #c12727;
}

.menu_icon {
    font-size: 2rem;
    color: #fff;
    display: none;
    cursor: pointer;
}

@media (max-width: 1250px) {
    .nav_div {
        width: 100%;
    }
}

@media (max-width: 998px) {
    .nav_div {
        justify-content: flex-end;
        gap: 1rem;
    }

    .menu_icon {
        display: block;
    }

    .navbar {
        background: transparent;
        position: fixed;
        top: 13%;
        left: 5%;
        padding-top: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        display: none;

    }

    .link {
        color: #821c7a;
    }

    .active {
        color: teal;
    }

    .navbar.dropdown {
        display: flex;
    }
}

@media (max-width: 450px) {
    .navbar {
        background-color: rgb(207, 50, 193);
        left: 0;
        bottom: 75%;
        padding: 2rem;
        a {
            color: #fff;
            margin-bottom: 1rem;
        }
    }

}