.basket {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    width: 360px;
    padding-inline: 3px;
    background: #fff;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.475);
    transition: right .6s ease-in-out;
    overflow: auto;
}

.close {
    right: -405px;
    transition: right .6s ease-in-out;
}

/*--------------Head---------------------*/

.head {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #c7c3c3;
    border-bottom: 8px;
}

.head h2 {
    /*font-family: "Helv", serif;*/
    color: teal;
    display: inline;
}

.count {
    width: 40px;
    display: inline-block;
    text-align: center;
}

.head svg {
    font-size: 20px;
    color: rgb(85, 91, 91);
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
    /*padding: .5em;*/
    width: 100%;
    /*height: 100%;*/
}

/*------------------Total*-------------------*/

.total {
    width: 100%;
    margin-block: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c7c3c3;
    border-radius: 5px;
    box-shadow: 0 3px 10px #c7c3c3;
    padding: 10px 20px;

    svg {
        color: #e72c2c;
        cursor: pointer;
        font-size: 19px;
    }

    svg:hover {
        color: rgb(146, 50, 50);
    }
}

.amount {
    font-size: 20px;
    font-weight: bold;

    span {
        color: teal;
        margin-left: 10px;

    }
}
