.container {
    width: 70%;
    margin: 20px auto;
    /*text-align: center;*/
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.img {
    &:hover {
        transform: translateX(-20%) scale(1.5);
    }
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
}

.title {
    -webkit-text-stroke: 1px black;
    color: #969191;
    /*margin: 0;*/
}

.desc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #545252;
    margin: 0;
}

.tags {
    background: #DDD;
    padding: .5em 1em;
    border-radius: 6px;
    cursor: pointer;
}

.price {
    -webkit-text-stroke: 1px black;
    font-size: 2em;
}
.desc, .price {
    margin: 0;
}

.addBtn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: .6em .8em ;
    border-radius: .7em;
    font-size: 1em;
    font-weight: 700;
    background-color: #CF32C1;
    color: #fff;

    svg {
        margin-right: .4em;
        font-size: 1.3em;
    }

    &:hover {
        background-color: #d6f1f1;
        color: #2346e2;
    }
}